<% include ../partials/header %>

<% if (signupError && signupError.length > 0) { %>
    <div class="alert alert-danger" role="alert"><%= signupError %></div>
<% } %>

<div class="container">
    <h1 style="text-align:center;">Signup</h1>    
      <div style="width:30%; margin :25px auto;">
          
        <form method="POST" action="/signup">
            
            <div class="form-group">
                <input type="text" pattern=".{5,}" required class="form-control" name="fullname" placeholder="Enter Full Name">
             </div>
             
             <div class="form-group">
                <input type="email" class="form-control" required name="email" placeholder="Enter Email Address">
             </div>
             
             <div class="form-group">
                 <input type="password" class="form-control" required name="password" placeholder="Enter Password">
             </div>
            
             <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </form> 
          <a href="/"> Go to Home</a>
      </div>
</div>

<% include ../partials/footer %>